.container {
  min-height: 100vh;
  padding: 0 16px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__dark {
    @extend .container;
    background-color: black;
    color: white;
  }
  &__light {
    @extend .container;
    background-color: white;
  }
}
